<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.springchatapi2.api.mapper.UserMapper">

   <select id='getUsers' resultType="com.project.springchatapi2.domain.tUsr">
      SELECT
             USR_KEY,
             USR_HP_NUM,
             USR_NICK,
             USR_TYPE,
             USR_PW,
             USR_NM,
             USR_SEX,
             USR_BIRTH_DAY,
             USR_LOC_LON,
             USR_LOC_DET,
             USR_EMAIL,
             USR_DEVICE_OS_TYPE,
             USR_APP_VER,
             USR_LOGIN_FAIL_CNT,
             USR_PUSH_YN,
             REG_DT,
             REG_USR_KEY,
             MOD_DT,
             MOD_USR_KEY,
             STATE,
             VER
             FROM T_USR
   </select>


   <select id='getUserByUsrKey' resultType="com.project.springchatapi2.domain.tUsr" parameterType='int'>
          SELECT
                 USR_KEY,
                 USR_HP_NUM,
                 USR_NICK,
                 USR_TYPE,
                 USR_PW,
                 USR_NM,
                 USR_SEX,
                 USR_BIRTH_DAY,
                 USR_LOC_LON,
                 USR_LOC_DET,
                 USR_EMAIL,
                 USR_DEVICE_OS_TYPE,
                 USR_APP_VER,
                 USR_LOGIN_FAIL_CNT,
                 USR_PUSH_YN,
                 REG_DT,
                 REG_USR_KEY,
                 MOD_DT,
                 MOD_USR_KEY,
                 STATE,
                 VER
          FROM T_USR
          WHERE USR_KEY = #{usrKey}
   </select>

   <insert id="addUser">
          INSERT INTO T_USR
              (
                     USR_KEY,
                     USR_HP_NUM,
                     USR_NICK,
                     USR_TYPE,
                     USR_PW,
                     USR_NM,
                     USR_SEX,
                     USR_BIRTH_DAY,
                     USR_LOC_LON,
                     USR_LOC_DET,
                     USR_EMAIL,
                     USR_DEVICE_OS_TYPE,
                     USR_APP_VER,
                     USR_LOGIN_FAIL_CNT,
                     USR_PUSH_YN,
                     REG_DT,
                     REG_USR_KEY,
                     MOD_DT,
                     MOD_USR_KEY,
                     STATE,
                     VER
              )
              values
          (
           #{usrKey},
           #{usrHpNum},
           #{usrNick},
           #{usrType},
           #{usrPw},
           #{usrNm},
           #{usrSex},
           #{usrBirthDay},
           #{usrLocLon},
           #{usrLocDet},
           #{usrEmail},
           #{usrDeviceOsType},
           #{usrAppVer},
           #{usrLoginFailCnt},
           #{usrPushYn},
           now(),
           #{regUsrKey},
           null,
           null,
           #{state},
           #{ver}
           )
   </insert>

   <delete id='deleteUserByUsrKey' parameterType='int'>
           delete
           from T_USR
           where usr_key = #{usrKey}
   </delete>

   <update id="setUserByUsrKey" >
           UPDATE   T_USR
           <set>
               <if test="usrHpNum!='' and usrHpNum !=null"> USR_HP_NUM = #{usrHpNum},</if>
               <if test="usrNick!='' and usrNick !=null">        USR_NICK = #{usrNick},</if>
               <if test="usrType!='' and usrType !=null">        USR_TYPE = #{usrType},</if>
               <if test="usrPw!='' and usrPw !=null">        USR_PW = #{usrPw},</if>
               <if test="usrNm!='' and usrNm !=null">        USR_NM= #{usrNm},</if>
               <if test="usrSex!='' and usrSex !=null">        USR_SEX = #{usrSex},</if>
               <if test="usrBirthDay!='' and usrBirthDay !=null">    USR_BIRTH_DAY = #{usrBirthDay},</if>
               <if test="usrLocLon!='' and usrLocLon !=null">     USR_LOC_LON = #{usrLocLon},</if>
               <if test="usrLocDet!='' and usrLocDet !=null">     USR_LOC_DET = #{usrLocDet},</if>
               <if test="usrEmail!='' and usrEmail !=null">         USR_EMAIL = #{usrEmail},</if>
               <if test="usrDeviceOsType!='' and usrDeviceOsType !=null">    USR_DEVICE_OS_TYPE = #{usrDeviceOsType},</if>
               <if test="usrAppVer!='' and usrAppVer !=null">            USR_APP_VER = #{usrAppVer},</if>
               <if test="usrLoginFailCnt!='' and usrLoginFailCnt !=null">     USR_LOGIN_FAIL_CNT = #{usrLoginFailCnt},</if>
               <if test="usrPushYn!='' and usrPushYn !=null">         USR_PUSH_YN = #{usrPushYn},</if>
               <if test="state!='' and state !=null">              STATE = #{state},</if>
               <if test="ver!='' and ver !=null">                  VER = #{ver}                     </if>
           </set>
          WHERE USR_KEY = #{usrKey}
   </update>
</mapper>